html{
    scroll-behavior: smooth;
}

body{
    background-color: black;
}

a{
    color: white;
    text-decoration: none; /*밑줄 없애기*/
}

.frame{
    color: white;
    display: flex;
    flex-direction: column;
    margin: 30px 100px
}

/* navigator */
.navigator{
    font-family: 'Hahmlet', serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

li{
    display: inline;
    align-self: center;
    margin-left: 20px;
}

/* ul{
    margin: 0;
} */

.site-name{
    font-family: 'Hahmlet', serif;
    font-size: 25px;
    color: white;
}

.site-name:hover{
    color: orange;
    transition: 1.0s
}

.nav-menu{
    color: white;
    font-size: 25px;
    font-weight: 400;
    text-decoration: none;
}

.nav-menu:hover{
    color: grey;
    transition: 1.0s
}

/* dashboard */
.dashboard{
    display: flex;
    flex-direction: column;
    margin-top: 100px; 
    margin-bottom: 300px;
}

.img-box{
    width: 1200px;
    height: 300px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}

.img-cover{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text_box{
    font-size: 3.5rem;
    text-align: center;
    position: absolute;
    z-index: 1;
    margin-top: 70px;
    margin-left: 200px;
}

.blink {
    animation: blink 0.5s infinite;
    font-size: 4.5rem;
}

@keyframes blink {
    to {
        opacity: 0;
    }
}

/* .img-text{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
    font-weight: 100;
    margin-left: 200px;
    position: absolute;
    text-align: center;
    z-index: 1;
} */

/* .korea-comment{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 35px;
    position: absolute;
    z-index: 1;
} */

.english-comment{
    font-family: 'Noto sans KR', sans-serif;
    font-weight: 100;
    font-size: 15px;
    font-style: italic;
    letter-spacing: -0.5px;
    position: absolute;
    margin-left: 700px;
    text-align: center;
    z-index: 1;
}

/* About me */
.profile-section{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 50px;
}

#profile-picture{
    width: 500px;
    margin-right: 100px;
}

#aboutme{
    font-size: 50px;
    margin-top: 0;
    text-decoration: underline;
}

.value{
    align-self: center;
    margin-top: 50px;
    font-size: 30px;
    font-style: italic;
}

/* projects */
#fade-in3{
    margin-top: 200px;
}

#projects{
    font-size: 50px;
    font-weight: 700;
    color: white;
    display: inline;
    align-self: flex-start;
    margin-top: 200px;
}

.project-exp{
    font-size: 25px;
}

.project-box{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 70px;
    margin-bottom: 50px;
}

.project-list{
    border: 2px solid grey;
    width: 500px;
    height: 300px;
    margin-bottom: 30px;
}

.project-1{
    align-self: center;
    font-size: 30px;
}


/* footer */
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 250px;
}

.contact{
    font-size: 30px;
    font-weight: 700;
    color: #FDFBFA;
    padding-top: 30px;
    margin-bottom: 30px;
    border-bottom: 2px solid white;
}

.links{
    margin-top: 15px;
    margin-bottom: 10px;
}

.links>a{
    font-size: 30px;
    font-weight: 400;
    color: #FDFBFA;

}

.links>a:hover{
    color: yellow;
    transition: 0.5s;
}

.footer>p{
    font-weight: 100;
    font-size: 15px;
    font-style: italic;
    margin: 0;
    margin-top: 10px;
}

.img-contactbox{
    width: 1500px;
    height: 370px;
    overflow: hidden;
    margin: 0 auto;
    position: absolute;
    z-index: -1;
}

.img-contact{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Top 버튼 */
a#top_btn{ 
    position: fixed;
    right: 5%; /*버튼의 위치*/
    bottom: 50px; /*버튼의 위치*/
    display: none;
    z-index: 999; /*다른태그들보다 위로오도록설정*/
    font-size: 30px
}

