html{
    scroll-behavior: smooth;
}

body{
    background-color: black;
    overflow-x: hidden;
}

a{
    color: white;
    text-decoration: none; /*밑줄 없애기*/
}

.frame{
    color: white;
    display: flex;
    flex-direction: column;
    margin: 30px 60px;
}

/* navigator */
.navigator{
    font-family: 'Hahmlet', serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

li{
    display: inline;
    align-self: center;
    margin-left: 20px;
}

.site-name{
    font-family: 'Hahmlet', serif;
    font-size: 25px;
    color: white;
}

.site-name:hover{
    animation-duration: 2s; 
    animation-name: rainbowLink; 
    animation-iteration-count: infinite;
}

.nav-menu{
    color: white;
    font-size: 25px;
    font-weight: 400;
    text-decoration: none;
}

.nav-menu:hover{
    animation-duration: 1s; 
    animation-name: rainbowLink; 
    animation-iteration-count: infinite;
}

@keyframes rainbowLink {     
    0% { color: #ff2a2a; }
    15% { color: #ff7a2a; }
    30% { color: #ffc52a; }
    45% { color: #43ff2a; }
    60% { color: #2a89ff; }
    75% { color: #202082; }
    90% { color: #6b2aff; } 
    100% { color: #e82aff; }
}

/* canvas 태그 */
#matrix{
    position: absolute;
    width: 90%;
    height: 100%;
    z-index: -1;
}

/* dashboard */
.dashboard{
    display: flex;
    flex-direction: column;
    margin-top: 100px; 
    margin-bottom: 300px;
    width: 90%;
}

.img-box{
    width: 115%;
    height: 300px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}

.img-cover{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text_box{
    font-size: 3.5rem;
    text-align: center;
    position: absolute;
    z-index: 1;
    margin-top: 70px;
    margin-left: 200px;
}

.blink {
    animation: blink 0.5s infinite;
    font-size: 4.5rem;
}

@keyframes blink {
    to {
        opacity: 0;
    }
}

.english-comment{
    font-family: 'Noto sans KR', sans-serif;
    font-weight: 100;
    font-size: 15px;
    font-style: italic;
    letter-spacing: -0.5px;
    position: absolute;
    margin-left: 700px;
    text-align: center;
    z-index: 1;
}

/* About me */
.profile-section{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 50px;
}

#profile-picture{
    width: 500px;
    margin-right: 100px;
}

#aboutme{
    font-size: 50px;
    margin-top: 0;
    text-decoration: underline;
}

.value{
    align-self: center;
    margin-top: 50px;
    font-size: 30px;
    font-style: italic;
}

/* projects */

#projects{
    font-size: 50px;
    font-weight: 700;
    color: white;
    display: inline;
    align-self: flex-start;
    margin-top: 200px;
    margin-bottom: 50px;
}

.project-exp{
    font-size: 25px;
}

.project-box{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 70px;
    margin-bottom: 50px;
}

.project-list{
    border: 2px solid grey;
    width: 500px;
    height: 300px;
    margin-bottom: 30px;
}

.project-1{
    align-self: center;
    font-size: 30px;
}


/* footer */
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 250px;
}

.contact{
    font-size: 40px;
    font-weight: 700;
    color: #FDFBFA;
    padding-top: 30px;
    margin-bottom: 30px;
    border-bottom: 2px solid white;
}

.contact:hover{
    animation-duration: 1s; 
    animation-name: rainbowLink; 
    animation-iteration-count: infinite;
}

.contactlist{
    display: flex;
    flex-direction: row;
}

.links{
    margin: 20px 40px;
}

.links-menu>img{
    width:100px;
    cursor: pointer;
}

.links-menu>img:hover {
    animation: shake 0.7s;
    animation-iteration-count: 1;
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

.footer>p{
    font-weight: 100;
    font-size: 20px;
    font-style: italic;
    margin: 0;
    margin-top: 10px;
}

.img-contactbox{
    width: 1500px;
    height: 370px;
    overflow: hidden;
    margin: 0 auto;
    position: absolute;
    z-index: -1;
}

.img-contact{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Top 버튼 */
a#top_btn{ 
    position: fixed;
    right: 5%; /*버튼의 위치*/
    bottom: 50px; /*버튼의 위치*/
    display: none;
    z-index: 999; /*다른태그들보다 위로오도록설정*/
    font-size: 30px
}

.top_image{
    width: 55px
}

@media screen and (max-width: 870px) {
    body{
        overflow-x: hidden;
    }
    .frame{
        margin: 10px;
    }

    .navigator{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .site-name{
        text-align: center;
        font-size: 40px;
    }
    
    ul{
        flex-direction: column;
        justify-content: center;
        padding: 0;
        background-color: #263343;
    }

    li{
        display: block;
        width: 100%;
        text-align: center;
        margin: 15px;
    }

    .dashboard{
        display: none;
    }

    canvas{
        display: none;
    }

    .profile-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #profile-picture{
        width: 80%;
        margin-left: 50px;
        margin-bottom: 20px;
    }

    #aboutme{
        margin-left: 50px;
    }

    .myskill{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 50px;
    }

    .value{
        width: 80%;
    }

    #projects{
        width: 80%;
        margin-left: 50px;
        margin-bottom: 50px;
    }

    .project-exp{
        width: 80%;
        margin-left: 50px;
    }

    .project-box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 80%;
        margin-left: 50px;
    }

    .project-list{
        width: 100%;
    }

}